.reg{
    padding: 50px;
}
.c-desc {
    
    font-size: 20px;
}
.textarea {
    width: 50%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;

    border: 2px solid black;
}
.form {
    margin-top: 20px;

}

button {
    border: none;
    padding: 15px;
    background-color: #59b256;
    color: white;
    font-weight: 500;
}

input {
    color: black;
}
.c-input {

    width: 25%;
    height: 50px;
    border: none;
    border: 2px solid black;

    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    display: block;

}