.icon {
    font-size: 75px;
    padding: 10px;
    color: black;
}

.ftr {

    position: relative;
    color: black;
    // z-index: 0;

    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-direction: row;
}

p {
    font-size: 20px;
    padding: 10px;
    display: flex;

}