@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');



.App {

  font-family: 'Ubuntu', sans-serif;
//background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);



}
p{
  font-size: 20px;
}

// .sections {
//   height: 100vh;
//   width: 100%;
//   height: calc(100vh - 70px);
//   position: relative;

//   * {
//     width: 100vw;
//     height: calc(100vh - 70px);
//   }

// }









@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}